
<app-header></app-header>
<router-outlet></router-outlet>


<div>
  <input [(ngModel)]="bookTitle" placeholder="Digite o título do livro" />
  <button (click)="searchBook()">Pesquisar</button>
</div>

<div *ngIf="loading">
  <p>Carregando informações do livro...</p>
</div>
<div *ngIf="bookInfo">
  <h1>{{ bookInfo.title }}</h1>
  <p><strong>Autor(es):</strong> {{ bookInfo.authors?.join(', ') }}</p>
  <p><strong>Descrição:</strong> {{ bookInfo.description }}</p>
  <img *ngIf="bookInfo?.imageLinks" [src]="bookInfo.imageLinks.thumbnail" alt="Book cover">

</div>
<div *ngIf="!loading && !bookInfo">
  <p>Não foi possível encontrar informações sobre o livro.</p>
</div>

<app-footer></app-footer>